.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid black;
  margin-top: 5px;
}